
@media (min-width: 768px) {
 .pizzas {
    display: flex;
}
}
.pizza-1 {
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: grey;
    height: 403.6893310546875px;
width: 94.5%;
left: 273.33685302734375px;
top: -210.040771484375px;
text-align: center;
display: inline-block;
}

span {display:flex}

.pizza {
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: lightblue;
    height: 403.6893310546875px;
width: 450px;
left: 273.33685302734375px;
top: -210.040771484375px;
}

img {
margin: auto;
display: block;
}

body {
background-color: orange;
}

.footer {
background-color: yellow;
padding: 1em;
border-radius: 25px;
display: flex;
}
.side-bar {
text-align: right;
flex: 1;
}
.pizza1 {
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: burlywood;
    height: 403.6893310546875px;
width: 450px;
left: 273.33685302734375px;
top: -210.040771484375px;
}

.pizza2 {
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 25px;
    background-color: brown;
    height: 403.6893310546875px;
width: 450px;
left: 273.33685302734375px;
top: -210.040771484375px;
}

h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}

.fix_image{
width: 200px;
height: 150px;
object-fit: cover;
border: 5px solid;

}

.fix_image2{
width: 150px;
height:150px;
object-fit: cover;
border: 5px solid;
}

.fix_image3{
width: 110px;
height: 150px;
object-fit: cover;
border: 5px solid;
}


 button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  @media (max-width: 511px) {
  body > div.container > div > div > div > div {
  white-space: nowrap;
  overflow-x: auto;
  display: inline-block;
  }
}